WEBUI_AUTH=true
WEBUI_NAME=Jansen Legal Team
WEBUI_SECRET_KEY=ENTER A RANDOM SH32 KEY

# OpenAI Embeddings (if using RAG_EMBEDDING_ENGINE=openai)
OPENAI_API_BASE_URL=https://api.openai.com/v1
OPENAI_API_KEY=ENTER YOUR OPENAI API KEY

# Ollama Embeddings (if using RAG_EMBEDDING_ENGINE=ollama)
# RAG_OLLAMA_BASE_URL=http://localhost:11434
# RAG_OLLAMA_API_KEY=

VECTOR_DB=qdrant // Jansen Law Team uses qdrant
QDRANT_URI=ENTER YOUR QDRANT DATABASE ENDPOINT (LOCAL OR CLOUD)
QDRANT_API_KEY=ENTER YOUR QDRNT API KEY



# Logging
LOG_LEVEL=INFO

# For production, you should only need one host as
# fastapi serves the svelte-kit built frontend and backend from the same host and port.
# To test with CORS locally, you can set something like
# CORS_ALLOW_ORIGIN='http://localhost:5173;http://localhost:8080'
CORS_ALLOW_ORIGIN='*'

# For production you should set this to match the proxy configuration (127.0.0.1)
FORWARDED_ALLOW_IPS='*'
